@font-face {
    font-family: 'azo_sanslight';
    src: url('../fonts/rui_abreu_-_azo_sans_light-webfont.eot');
    src: url('../fonts/rui_abreu_-_azo_sans_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rui_abreu_-_azo_sans_light-webfont.woff2') format('woff2'),
         url('../fonts/rui_abreu_-_azo_sans_light-webfont.woff') format('woff'),
         url('../fonts/rui_abreu_-_azo_sans_light-webfont.ttf') format('truetype'),
         url('../fonts/rui_abreu_-_azo_sans_light-webfont.svg#azo_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'azo_sans_italic';
    src: url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.eot');
    src: url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.woff2') format('woff2'),
         url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.woff') format('woff'),
         url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.ttf') format('truetype'),
         url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.svg#azo_sanslight') format('svg');
    font-weight: italic;
    font-style: normal;
}

body {
	font-family: 'azo_sanslight', sans-serif;
	background: #fc0000;
}
.navbar-brand{
	float: none;
	margin: 39px 0 0 -25px;
	display: block;
	position: absolute;
	left:50%;
	width: 50px;
	height: 50px;
	padding: 0;	
}

.navbar-brand h1 {display: none;}
.navbar-brand img {width: 100%;height: auto;}

form {
	position: absolute;
	top:45%;
	left:50%;
	margin: 0px 0 0 -143px;
}
form .pass {width:160px;padding:8px 15px;border: 0;}
form .btn {color:#fff;background: #000;border-radius: 0;text-transform: uppercase;outline: 0;padding:9px 15px;border: 0;}
form .btn:hover{color:#dddddd;}
form .pass, form .btn {font-size: 12px;letter-spacing: 2.5px;margin:10px 7px;}
form .pass:focus, form .btn:focus {outline: 0;}