@font-face {
    font-family: 'azo_sanslight';
    src: url('../fonts/rui_abreu_-_azo_sans_light-webfont.eot');
    src: url('../fonts/rui_abreu_-_azo_sans_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rui_abreu_-_azo_sans_light-webfont.woff2') format('woff2'),
         url('../fonts/rui_abreu_-_azo_sans_light-webfont.woff') format('woff'),
         url('../fonts/rui_abreu_-_azo_sans_light-webfont.ttf') format('truetype'),
         url('../fonts/rui_abreu_-_azo_sans_light-webfont.svg#azo_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'azo_sans_italic';
    src: url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.eot');
    src: url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.woff2') format('woff2'),
         url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.woff') format('woff'),
         url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.ttf') format('truetype'),
         url('../fonts/rui_abreu_-_azo_sans_thin_italic-webfont.svg#azo_sanslight') format('svg');
    font-weight: italic;
    font-style: normal;
}

body {
	font-family: 'azo_sanslight', sans-serif;
	padding-top:150px;
}
.navbar-brand{
	float: none;
	margin: 39px 0 0 -25px;
	display: block;
	position: absolute;
	left:50%;
	width: 50px;
	height: 50px;
	padding: 0;
	/* Firefox */
	-moz-transition: all 1s ease;
	/* WebKit */
	-webkit-transition: all 1s ease;
	/* Opera */
	-o-transition: all 1s ease;
	/* Standard */
	transition: all 1s ease;
}
.navbar-brand.active-right {
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* WebKit */
	-webkit-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Standard */
	transform: rotate(-90deg);
}
.navbar-brand.active-left {
	/* Firefox */
	-moz-transform: rotate(90deg);
	/* WebKit */
	-webkit-transform: rotate(90deg);
	/* Opera */
	-o-transform: rotate(90deg);
	/* Standard */
	transform: rotate(90deg);
}
.navbar-brand h1 {display: none;}
.navbar-brand img {width: 100%;height: auto;}
.navbar-nav {
	float: none;
	display: inline-block;
	text-align: center;
	width: 80%;
    margin: 30px 10%;    
}

.navbar-default {
	border: 0;
	background:#fff;
	max-height: 110px; 
}
.navbar-nav > li {
	float: none;
	font-family: 'azo_sanslight', sans-serif;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 3px;
}
.navbar-nav li:first-child {
	text-align: left;
	float: left;
}
.navbar-nav li:first-child a{
	padding-left:0;
}
.navbar-nav li:last-child {
	text-align: right;
	float: right;
}
.navbar-nav li:last-child a{
	padding-right:0;
}
.navbar-nav li:nth-child(2) {
	margin-left:25px;
}
.navbar-nav li:nth-child(3) {
	margin-right:0px;
}
.navbar-nav li:nth-child(4) {
	margin-left:160px;
}
.navbar-nav > li > a {
	padding:33px 25px;
	color:#585858;
	outline: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color:#ff0000;
	background: none;
}
.content {
	width: 80%;
    margin: 0px 10% 20px 10%;
    display: none;
}
.content .slide img{
	width:100%;
	height: auto;
	outline: 0;
}
.content .slide .label {
	color:#808080;
	font-size: 12px;
	line-height: 20px;
	display: block;
	text-align: center;
	margin:0 auto;
	letter-spacing: 3px;
	text-transform: uppercase;
}
h3 {
	font-size: 13px;
	color:#ff0000;
}
p {
	font-size: 12px;
	color:#808080;
	line-height: 24px;
}
#about p {
	text-transform: uppercase;
}
#about .col-md-3 p {
	line-height: 21px;
}
#about .col-md-3 h3{
	margin-bottom:5px;
}
p a {
	color:#ff0000;
	text-decoration: none;	
}
p a:hover {
	color:#ff0000;
	text-decoration: underline;
}
#home {display: block;position: relative;}
#home img {
	max-width: 100%;
	height: auto;
}
#arrow-right {
	background: url(../images/arrow-next.png);
    background-size: cover;
    display: block;
    width: 29.5px;
    height: 33.33px;
	-moz-transition: all 3s ease;
	-webkit-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
	position: absolute;
	right:50%;
	margin-right:-7px;
	top:51%;
	font-size: 0;
    line-height: 0;
    padding: 0;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
  
    color: transparent;
    border: none;
    outline: none;
}

#arrow-left {
	background: url(../images/arrow-prev.png);
    background-size: cover;
    display: block;
    width: 29.5px;
    height: 33.33px;
	-moz-transition: all 3s ease;
	-webkit-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
	-webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
	position: absolute;
	left:50%;
	margin-left:7px;
	top:51%;
	font-size: 0;
    line-height: 0;
    padding: 0;
    
    color: transparent;
    border: none;
    outline: none;
}
#arrow-left.active {
	left: -7%;
	margin:0;
}
#arrow-right.active {
	right:-7%;	 
	margin:0;
}

/**********************
*** TABLET ***
**********************/

@media (min-width: 1024px) and (max-width: 1200px) {
	.navbar-nav {	
		width: 90%;
	    margin: 30px 5%;    
	}
	.navbar-nav > li {
		font-size: 14px;
	}
	.navbar-nav li:nth-child(2) {
		margin-left:15px;
	}
	.navbar-nav li:nth-child(4) {
		margin-left:140px;
	}
	.navbar-nav > li > a {
		padding:33px 18px;
	}	
	.content .slide .label {
		font-size: 12px;
		letter-spacing: 1px;
	}
	.content {
		width: 90%;
	    margin: 0px 5% 20px 5%;
	}
	h3 {
		font-size: 12px;
		color:#ff0000;
	}
	p {
		font-size: 12px;
		color:#808080;
		
	}
	#arrow-left, #arrow-right
    {
        width: 19.5px;
        height: 22px;
    }
    #arrow-left.active 
    {
        left: -2.5%;
    }   
    #arrow-right.active 
    {
        right: -2.5%;
    }
   

}
@media (min-width: 768px) and (max-width: 1023px) {
	.navbar-nav {	
		width: 90%;
	    margin: 30px 5%;    
	}
	.navbar-nav > li {
		font-size: 13px;
		letter-spacing: 2px;
	}
	.navbar-nav li:nth-child(2) {
		margin-left:20px;
	}
	.navbar-nav li:nth-child(4) {
		margin-left:120px;
	}
	.navbar-nav > li > a {
		padding:33px 8px;
	}
	h3 {
		font-size: 12px;
		color:#ff0000;
	}
	p {
		font-size: 12px;
		color:#808080;
		line-height: 18px;
	}
	.content .slide .label {
		font-size: 11px;
		letter-spacing: 0px;
	}
	.content {
		width: 90%;
	    margin: 0px 5% 20px 5%;
	}
	#arrow-left, #arrow-right
    {
        width: 19.5px;
        height: 22px;
    }
    #arrow-left.active 
    {
        left: -2.5%;
    }   
    #arrow-right.active 
    {
        right: -2.5%;
    }

}

/**********************
*** MOBILE ***
**********************/

@media (max-width: 767px) {
	.navbar-default {
	    border: 0;
	    background: #f8f8f8;
	    height: 121px;
	    border-top: 33px solid #e5e5e5;
	}
	.navbar-brand {
		margin-top: 20px;
	}
	.navbar-nav {
		float: none;
		display: inline-block;
		text-align: center;
		width: 90%;
	    margin: 30px 5%;    
	}
	.navbar-nav > li {
		float: none;
		font-family: 'azo_sanslight', sans-serif;
		display: block;
		text-align: left;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 2px;
	}
	.navbar-nav li:first-child {
		text-align: left;
		float: none;
		position: absolute;
		top:0px;
		text-transform: none;
    	letter-spacing: 0;
    	margin-top: -40px;
	}
	.navbar-nav li:nth-child(2) {
		margin-left:0px;
		position: absolute;
		top:10px;
	}
	.navbar-nav li:nth-child(3) {
		margin-right:0px;
		position: absolute;
		top:40px;	
	}
	.navbar-nav li:nth-child(4) {
		margin-left:0px;
		text-align: right;	
		position: absolute;
		top:40px;
		right:6%;
	}
	.navbar-nav li:nth-child(5) {
		text-align: right;
		position: absolute;
		top:10px;
		right:6%;
	}
	.navbar-nav li:last-child {
		text-align: right;
		float: none;
		position: absolute;
		top:0px;
		right:6%;
		text-transform: none;
    	letter-spacing: 0;
    	margin-top: -40px;
    }
    .navbar-nav li:last-child a, .navbar-nav li:first-child a{
    	color:#b0b0b0;
	}
	.navbar-nav > li > a {
		padding: 15px 0;
	}
	.content .slide .label {
		font-size: 11px;
		letter-spacing: 1px;
	}
	.content.responsive {
		width: 100%;
	    margin: 0px 0 20px 0;
	}

}











